In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Part 1

In [2]:
df = pd.read_csv("hotels_data.csv")
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4

In [3]:
# 1.a
from datetime import datetime
from dateutil.parser import parse

def get_datetime(date_str):
    return datetime.strptime(date_str, '%m/%d/%Y %H:%M')

df["DayDiff"] = DataFrame([get_datetime(val) for val in df["Checkin Date"]]) - DataFrame([get_datetime(val) for val in df["Snapshot Date"]])
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days

In [4]:
#1.b

df["WeekDay"] = DataFrame([get_datetime(val).weekday() for val in df["Checkin Date"]])
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2

In [5]:
#1.c

df["DiscountDiff"] = df["Original Price"] - df["Discount Price"]
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2,138
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2,131
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3,130
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6,72
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2,67

In [6]:
#1.d

df["DiscountPerc"] = (df["DiscountDiff"]/df["Original Price"]) * 100
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2,138,11.714771
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2,131,11.769991
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3,130,2.974828
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6,72,4.140311
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2,67,3.852789

In [7]:
#Save df to csv
df.to_csv("Hotels_data_Changed.csv")

# Part 2

In [60]:
# 2.a

# dropping passed columns 
filtered_df = df.filter(["Hotel Name","DayDiff", "Checkin Date", "Snapshot Date", "WeekDay", "DiscountDiff", "Discount Code"], axis=1)
filtered_df.head()
#filtered_df.to_csv("Hotels_data_for_best_discount_code.csv")

,Hotel Name,DayDiff,Checkin Date,Snapshot Date,WeekDay,DiscountDiff,Discount Code
0,Best Western Plus Seaport Inn Downtown,26 days,8/12/2015 0:00,7/17/2015 0:00,2,138,1
1,Best Western Plus Seaport Inn Downtown,33 days,8/19/2015 0:00,7/17/2015 0:00,2,131,1
2,The Peninsula New York,27 days,8/13/2015 0:00,7/17/2015 0:00,3,130,1
3,Eventi Hotel a Kimpton Hotel,9 days,7/26/2015 0:00,7/17/2015 0:00,6,72,1
4,Eventi Hotel a Kimpton Hotel,26 days,8/12/2015 0:00,7/17/2015 0:00,2,67,1

In [61]:
filtered_df["MaxDis"] = filtered_df.groupby(["Hotel Name","DayDiff", "Checkin Date", "Snapshot Date", "WeekDay"])["DiscountDiff"].transform('max')
#filtered_df.sort_values(by=["Hotel Name","DayDiff", "Checkin Date", "Snapshot Date", "WeekDay"],ascending=False).reset_index()

grouped_df = filtered_df[filtered_df["DiscountDiff"]==filtered_df["MaxDis"]].drop_duplicates(["Hotel Name","DayDiff", "Checkin Date", "Snapshot Date", "WeekDay"])
grouped_df.drop(labels=["MaxDis","DiscountDiff"], axis=1,inplace=True)
grouped_df.head()
grouped_df.to_csv("Hotels_data_for_best_discount_code_grouped.csv")
# Debug stuff for find the correct data 
#grouped_df.loc[(for_learn_df["Hotel Name"] == "1 Hotel Central Park") & (for_learn_df["DayDiff"] == "3 days") & (for_learn_df["Checkin Date"] == "11/14/2015 0:00") ]

In [40]:
# 2.b
pred_df = grouped_df.copy()
pred_df.head()

(554, 34, 202, 202, 151, 7)

In [52]:
pred_df_float_datetime = pred_df.copy() # copy data frame to another var so original won't change

# pre process - convert columns to categorial numebr instead of strings so fit will work.
pred_df_float_datetime["CheckinDate"] = pd.Categorical(pd.factorize(pred_df_float_datetime["Checkin Date"])[0]) 
pred_df_float_datetime["SnapshotDate"] = pd.Categorical(pd.factorize(pred_df_float_datetime["Snapshot Date"])[0])
pred_df_float_datetime["HotelName"] = pd.Categorical(pd.factorize(pred_df_float_datetime["Hotel Name"])[0])



pred_df_float_datetime["DayDiff"] = [t.total_seconds() for t in pred_df_float_datetime["DayDiff"]] # convert timedelta to float

# remove target column "Discount Code" from data frame used for learning.
pred_df_float_datetime.drop(labels=["Discount Code","Checkin Date","Snapshot Date", "Hotel Name"],axis=1, inplace=True)
pred_df_float_datetime.head(5)

     DayDiff  WeekDay CheckinDate SnapshotDate HotelName
0  2246400.0        2           0            0         0
1  2851200.0        2           1            0         0
3   777600.0        6           2            0         1
5  1814400.0        4           3            0         2
6  1987200.0        6           4            0         2

# Normal distribution check

In [94]:
for_learn_df.describe()
#we see here that mean is approxmetly the same as median (50%) so its probably distributes as noraml distribution

                       DayDiff        WeekDay  Discount Code
count                   107299  107299.000000  107299.000000
mean   17 days 07:52:53.766763       2.937828       2.316741
std    10 days 00:45:51.418390       1.869531       1.021992
min            1 days 00:00:00       0.000000       1.000000
25%            9 days 00:00:00       1.000000       1.000000
50%           17 days 00:00:00       3.000000       2.000000
75%           26 days 00:00:00       4.000000       3.000000
max           34 days 00:00:00       6.000000       4.000000

# Naive Bayes - All train All test

In [55]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(pred_df_float_datetime, pred_df['Discount Code']).predict(pred_df_float_datetime)
y_pred, pred_df['Discount Code']
print("Number of mislabeled points out of a total %d points : %d    -> error : %f%%" 
      % (pred_df_float_datetime.shape[0],(pred_df['Discount Code'] != y_pred).sum(),
        (pred_df['Discount Code'] != y_pred).sum()/pred_df_float_datetime.shape[0]*100))

Number of mislabeled points out of a total 107299 points : 73259    -> error : 68.275566%

In [44]:
y_pred.min(), y_pred.max(), y_pred.mean(),  y_pred.var()

(1, 2, 1.9997856457189722, 0.0002143083332699873)

# Cross Validation

In [63]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(pred_df_float_datetime, pred_df['Discount Code'], test_size=0.3,random_state=109) # 70% training and 30% test

X_train, X_test, y_train, y_test

(          DayDiff  WeekDay CheckinDate SnapshotDate HotelName
 184247   345600.0        0           8          147       114
 148148  2073600.0        0         156          114        35
 176064  1123200.0        3         180          140        31
 184133   950400.0        0          58          147       236
 142056  2073600.0        1         150          110        30
 107404   950400.0        4         111           83        35
 166506  1987200.0        3         180          130        40
 39385   1641600.0        3          75           32        49
 47019   2592000.0        0           8           39        31
 147051  2764800.0        1         163          114         3
 134526  2160000.0        3         145          104        10
 137340   777600.0        3         131          106        88
 139573   432000.0        1         129          108        30
 16511   2937600.0        0          72           12       138
 44269   1296000.0        2          74           36        76
 53806    259200.0        6          64           44        13
 74857   2073600.0        2         102           60        65
 162137   432000.0        2         158          126       188
 65045   2764800.0        3         103           54        31
 99956    950400.0        6         106           78        65
 77818   2332800.0        0         107           62       262
 20560   1296000.0        6          39           16       106
 175230  1728000.0        2         186          139        65
 97000   1987200.0        2         116           76       114
 97870    864000.0        3         103           76        40
 121454  2419200.0        3         138           93        52
 4656     777600.0        3          50            4        11
 19056   1900800.0        4          41           14       161
 120368   259200.0        6         113           93        67
 128897  1209600.0        0         128           99        11
 ...           ...      ...         ...          ...       ...
 1103    2073600.0        2          43            1        11
 49952    777600.0        5           9           41        87
 22370   1296000.0        0          54           17        19
 55203    777600.0        3          13           46        85
 182757  1296000.0        3          50          146       464
 181015  2505600.0        1          59          144        85
 173876  2332800.0        1         192          138       113
 72339   2160000.0        2         102           59        26
 152581    86400.0        5         147          118        19
 147034  2073600.0        0         156          114       104
 14068   1814400.0        0          54           10       178
 186811   259200.0        1          23          150        55
 96493    345600.0        3          96           75        74
 169566  1296000.0        5         175          133        40
 88304   2073600.0        4         111           69       114
 34797   1209600.0        2          67           28        10
 157254  2937600.0        0         184          122       119
 101962   604800.0        3         103           79        10
 153950  2246400.0        3         173          119        60
 57791    864000.0        2          74           48       139
 85968   2505600.0        1         115           68         2
 155524  1382400.0        1         163          120        31
 120481  1123200.0        2         123           93         9
 147048   518400.0        3         138          114         3
 146700   259200.0        6         134          113        55
 29772   1641600.0        3          68           23       148
 142695  1123200.0        4         139          110        93
 14629   1036800.0        1          28           11        68
 35265   2505600.0        3          82           28        45
 77113    172800.0        3          82           62       166

 [75109 rows x 5 columns],
           DayDiff  WeekDay CheckinDate SnapshotDate HotelName
 30199   1382400.0        0          65           23        66
 158745   604800.0        2         158          123       188
 104277   604800.0        5         105           81       114
 172012    86400.0        1         163          136       115
 83304   1036800.0        3          96           66        31
 175201    86400.0        4         167          139       291
 65310   2937600.0        5         105           54       236
 155629   604800.0        0         156          121       104
 89553   2419200.0        2         116           70         1
 79975   1382400.0        4          97           63       114
 6206     950400.0        6          42            5       212
 39587   2246400.0        3          82           32       191
 152250  2246400.0        2         172          118       104
 73608   2764800.0        3         110           60       448
 146908    86400.0        4         132          113        36
 174695  2505600.0        3         194          138        27
 35195   1209600.0        2          67           28        32
 26863    432000.0        0          57           20       186
 123396  1987200.0        5          44           95       114
 40239   1555200.0        3          75           33       144
 125912  1728000.0        4         132           97       426
 167682  1900800.0        3         180          131       236
 154069  1296000.0        6         162          119         3
 161688    86400.0        5         154          126         6
 74680   1900800.0        0         100           60        17
 112862   864000.0        0         114           87        50
 55938   1382400.0        3          14           46       266
 44361   1036800.0        6           4           37        85
 83884   2160000.0        2         109           66        88
 10229   1728000.0        4          49            8        11
 ...           ...      ...         ...          ...       ...
 128140  2332800.0        6         141           99        11
 8012    1468800.0        6          45            6       166
 170959  2160000.0        3         187          135        30
 41273   2246400.0        5          84           34         5
 108122  2937600.0        0         135           84       141
 180171   777600.0        2           1          144        76
 90010    777600.0        5          98           71        75
 50151   2332800.0        2          38           41         8
 172492  2246400.0        5         189          136        19
 68214   2419200.0        2         102           56        35
 75044   2592000.0        2         109           61       262
 165132  1123200.0        6         169          129        86
 108879   777600.0        3         110           84        61
 55302    604800.0        1          24           46       126
 143666  1728000.0        5         147          111       161
 72108   1900800.0        6          99           59       138
 36926   2678400.0        2          38           30        11
 132132  1987200.0        5         140          102        10
 125603   518400.0        4         118           97       387
 150240  1468800.0        2         151          116        49
 66583   2937600.0        0         107           55         9
 117068  1814400.0        0         128           90       236
 133945  2332800.0        4         146          103         2
 127826   432000.0        4         118           98       141
 13750   1987200.0        2          40           10        74
 115674   432000.0        4         111           89       141
 28775    172800.0        6          45           22       193
 61094   2419200.0        2          95           50        52
 81626   2851200.0        2         116           65        15
 17723   2851200.0        0          72           13       280

 [32190 rows x 5 columns],
 184247    3
 148148    4
 176064    2
 184133    2
 142056    2
 107404    3
 166506    3
 39385     2
 47019     4
 147051    1
 134526    1
 137340    2
 139573    2
 16511     3
 44269     4
 53806     4
 74857     4
 162137    3
 65045     2
 99956     1
 77818     3
 20560     1
 175230    2
 97000     1
 97870     3
 121454    4
 4656      1
 19056     3
 120368    1
 128897    3
          ..
 1103      1
 49952     3
 22370     3
 55203     1
 182757    2
 181015    4
 173876    1
 72339     3
 152581    2
 147034    1
 14068     3
 186811    1
 96493     3
 169566    3
 88304     4
 34797     2
 157254    2
 101962    3
 153950    2
 57791     1
 85968     2
 155524    4
 120481    2
 147048    1
 146700    3
 29772     2
 142695    3
 14629     1
 35265     3
 77113     2
 Name: Discount Code, Length: 75109, dtype: int64,
 30199     3
 158745    3
 104277    2
 172012    1
 83304     2
 175201    2
 65310     2
 155629    1
 89553     4
 79975     4
 6206      2
 39587     3
 152250    1
 73608     2
 146908    4
 174695    4
 35195     3
 26863     3
 123396    3
 40239     2
 125912    2
 167682    3
 154069    3
 161688    2
 74680     4
 112862    3
 55938     3
 44361     1
 83884     3
 10229     3
          ..
 128140    1
 8012      4
 170959    1
 41273     2
 108122    1
 180171    1
 90010     1
 50151     4
 172492    3
 68214     4
 75044     1
 165132    2
 108879    3
 55302     1
 143666    2
 72108     2
 36926     2
 132132    1
 125603    2
 150240    2
 66583     3
 117068    3
 133945    3
 127826    3
 13750     2
 115674    3
 28775     2
 61094     4
 81626     1
 17723     3
 Name: Discount Code, Length: 32190, dtype: int64)

# Naive Bayes - 0.3/0.7

In [64]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred2 = gnb.predict(X_test)
y_pred2

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred2))

Accuracy: 0.3176762969866418

# Decision Tree - All train All test

In [16]:
from sklearn import tree

labels = pred_df['Discount Code'].unique()
labels
clf = tree.DecisionTreeClassifier()
tree_pred = clf.fit(pred_df_float_datetime, pred_df['Discount Code']).predict(pred_df_float_datetime)
tree_pred
print("Number of mislabeled points out of a total %d points : %d    -> error : %f%%" 
      % (pred_df_float_datetime.shape[0],(pred_df['Discount Code'] != tree_pred).sum()
         , (pred_df['Discount Code'] != tree_pred).sum()/pred_df_float_datetime.shape[0]*100))

Number of mislabeled points out of a total 107299 points : 0    -> error : 0.000000%

# Decision tree - cross validation

In [65]:
#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred3 = clf.predict(X_test)
y_pred3

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred3))

Accuracy: 0.7696489593041317

In [93]:
from sklearn.metrics import confusion_matrix
#print(confusion_matrix(y_test, y_pred3))
cm = confusion_matrix(y_test, y_pred3)
# [ TP FP FN TN ]
FP = []
FN = []
TN = []
TP = []
for i in range(len(cm)):
    FP.append(cm[i][1])
    FN.append(cm[i][2])
    TN.append(cm[i][3])
    TP.append(cm[i][0])
FP ,FN, cm
fp_perc = np.sum(FP)/len(y_test) * 100
fn_perc = np.sum(FN)/len(y_test) * 100
tn_perc = np.sum(TN)/len(y_test) * 100
tp_perc = np.sum(TP)/len(y_test) * 100

print("FP: %f%%" %(fp_perc))
print("FN: %f%%" %(fn_perc))
print("TP: %f%%" %(tp_perc))
print("TN: %f%%" %(tn_perc))

#fp_perc + fn_perc + tn_perc + tp_perc

FP: 31.798695%
FN: 26.896552%
TP: 25.604225%
TN: 15.700528%