In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Part 1

In [50]:
df = pd.read_csv("hotels_data.csv")
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4

In [51]:
# 1.a
from datetime import datetime
from dateutil.parser import parse

def get_datetime(date_str):
    return datetime.strptime(date_str, '%m/%d/%Y %H:%M')

df["DayDiff"] = DataFrame([get_datetime(val) for val in df["Checkin Date"]]) - DataFrame([get_datetime(val) for val in df["Snapshot Date"]])
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days

In [52]:
#1.b

df["WeekDay"] = DataFrame([get_datetime(val).weekday() for val in df["Checkin Date"]])
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2

In [53]:
#1.c

df["DiscountDiff"] = df["Original Price"] - df["Discount Price"]
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2,138
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2,131
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3,130
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6,72
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2,67

In [54]:
#1.d

df["DiscountPerc"] = (df["DiscountDiff"]/df["Original Price"]) * 100
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,26 days,2,138,11.714771
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,33 days,2,131,11.769991
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,27 days,3,130,2.974828
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,9 days,6,72,4.140311
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,26 days,2,67,3.852789

In [49]:
#Save df to csv
df.to_csv("Hotels_data_Changed.csv")

# Part 2

In [189]:
# 2.a

# dropping passed columns 
pred_df = df.filter(["Hotel Name","DayDiff", "Checkin Date", "Snapshot Date", "WeekDay", "DiscountDiff", "Discount Code"], axis=1)
pred_df.head()
#pred_df.to_csv("Hotels_data_for_best_discount_code.csv")

,Hotel Name,DayDiff,Checkin Date,Snapshot Date,WeekDay,DiscountDiff,Discount Code
0,Best Western Plus Seaport Inn Downtown,26 days,8/12/2015 0:00,7/17/2015 0:00,2,138,1
1,Best Western Plus Seaport Inn Downtown,33 days,8/19/2015 0:00,7/17/2015 0:00,2,131,1
2,The Peninsula New York,27 days,8/13/2015 0:00,7/17/2015 0:00,3,130,1
3,Eventi Hotel a Kimpton Hotel,9 days,7/26/2015 0:00,7/17/2015 0:00,6,72,1
4,Eventi Hotel a Kimpton Hotel,26 days,8/12/2015 0:00,7/17/2015 0:00,2,67,1

In [336]:
pred_df["MaxDis"] = pred_df.groupby(["Hotel Name","DayDiff", "Checkin Date", "Snapshot Date", "WeekDay"])["DiscountDiff"].transform('max')
#pred_df.sort_values(by=["Hotel Name","DayDiff", "Checkin Date", "Snapshot Date", "WeekDay"],ascending=False).reset_index()

for_learn_df = pred_df[pred_df["DiscountDiff"]==pred_df["MaxDis"]].drop_duplicates(["Hotel Name","DayDiff", "Checkin Date", "Snapshot Date", "WeekDay"])
for_learn_df.drop(labels=["MaxDis","DiscountDiff"], axis=1,inplace=True)
for_learn_df

# Debug stuff for find the correct data 
#for_learn_df.loc[(for_learn_df["Hotel Name"] == "1 Hotel Central Park") & (for_learn_df["DayDiff"] == "3 days") & (for_learn_df["Checkin Date"] == "11/14/2015 0:00") ]

,Hotel Name,DayDiff,Checkin Date,Snapshot Date,WeekDay,Discount Code
0,Best Western Plus Seaport Inn Downtown,26 days,8/12/2015 0:00,7/17/2015 0:00,2,1
1,Best Western Plus Seaport Inn Downtown,33 days,8/19/2015 0:00,7/17/2015 0:00,2,1
3,Eventi Hotel a Kimpton Hotel,9 days,7/26/2015 0:00,7/17/2015 0:00,6,1
5,Grand Hyatt New York,21 days,8/7/2015 0:00,7/17/2015 0:00,4,1
6,Grand Hyatt New York,23 days,8/9/2015 0:00,7/17/2015 0:00,6,1
7,Grand Hyatt New York,26 days,8/12/2015 0:00,7/17/2015 0:00,2,1
9,Hilton New York Fashion District,5 days,7/22/2015 0:00,7/17/2015 0:00,2,1
11,DoubleTree Suites by Hilton New York City - Ti...,14 days,7/31/2015 0:00,7/17/2015 0:00,4,1
12,Hampton Inn Manhattan Soho,9 days,7/26/2015 0:00,7/17/2015 0:00,6,1
13,Hampton Inn Manhattan Soho,16 days,8/2/2015 0:00,7/17/2015 0:00,6,1
29,Park Hyatt New York,26 days,8/12/2015 0:00,7/17/2015 0:00,2,1
31,Park Hyatt New York,31 days,8/17/2015 0:00,7/17/2015 0:00,0,1
34,Andaz 5th Avenue - a concept by Hyatt,16 days,8/2/2015 0:00,7/17/2015 0:00,6,1
35,Andaz 5th Avenue - a concept by Hyatt,22 days,8/8/2015 0:00,7/17/2015 0:00,5,1
37,The Towers of the Waldorf Astoria New York,31 days,8/17/2015 0:00,7/17/2015 0:00,0,1
40,W New York - Union Square,8 days,7/25/2015 0:00,7/17/2015 0:00,5,1
43,W New York - Union Square,16 days,8/2/2015 0:00,7/17/2015 0:00,6,1
45,Loews Regency New York Hotel,13 days,7/30/2015 0:00,7/17/2015 0:00,3,1
46,Loews Regency New York Hotel,20 days,8/6/2015 0:00,7/17/2015 0:00,3,1
47,Loews Regency New York Hotel,27 days,8/13/2015 0:00,7/17/2015 0:00,3,1
48,Loews Regency New York Hotel,34 days,8/20/2015 0:00,7/17/2015 0:00,3,1
52,Four Seasons Hotel New York,21 days,8/7/2015 0:00,7/17/2015 0:00,4,1
53,Hilton Garden Inn Tribeca,16 days,8/2/2015 0:00,7/17/2015 0:00,6,1
54,Hilton Garden Inn Tribeca,23 days,8/9/2015 0:00,7/17/2015 0:00,6,1
55,Hilton Garden Inn Tribeca,29 days,8/15/2015 0:00,7/17/2015 0:00,5,1
56,Hampton Inn Times Square North,16 days,8/2/2015 0:00,7/17/2015 0:00,6,1
57,Comfort Inn & Suites LaGuardia Airport,8 days,7/25/2015 0:00,7/17/2015 0:00,5,1
58,Hilton Garden Inn New York Long Island City,33 days,8/19/2015 0:00,7/17/2015 0:00,2,1
59,Hyatt Place Flushing LaGuardia Airport,6 days,7/23/2015 0:00,7/17/2015 0:00,3,1
60,Hilton Newark Airport,5 days,7/22/2015 0:00,7/17/2015 0:00,2,1
...,...,...,...,...,...,...
187783,The Shoreham Hotel,30 days,9/14/2015 0:00,8/15/2015 0:00,0,4
187784,The Shoreham Hotel,32 days,9/16/2015 0:00,8/15/2015 0:00,2,4
187785,SIXTY SoHo,22 days,9/6/2015 0:00,8/15/2015 0:00,6,4
187788,Smyth A Thompson Hotel,20 days,9/4/2015 0:00,8/15/2015 0:00,4,4
187797,Magnuson Convention Center Hotel,3 days,8/18/2015 0:00,8/15/2015 0:00,1,4
187798,Magnuson Convention Center Hotel,6 days,8/21/2015 0:00,8/15/2015 0:00,4,4
187799,Magnuson Convention Center Hotel,7 days,8/22/2015 0:00,8/15/2015 0:00,5,4
187800,Magnuson Convention Center Hotel,12 days,8/27/2015 0:00,8/15/2015 0:00,3,4
187804,Magnuson Convention Center Hotel,20 days,9/4/2015 0:00,8/15/2015 0:00,4,4
187805,Magnuson Convention Center Hotel,22 days,9/6/2015 0:00,8/15/2015 0:00,6,4
187806,United Nations Apartment Hotel,13 days,8/28/2015 0:00,8/15/2015 0:00,4,4
187810,Hilton Garden Inn New York West 35th Street,4 days,8/19/2015 0:00,8/15/2015 0:00,2,4
187811,Hilton Garden Inn New York West 35th Street,11 days,8/26/2015 0:00,8/15/2015 0:00,2,4
187816,DoubleTree by Hilton New York City - Chelsea,4 days,8/19/2015 0:00,8/15/2015 0:00,2,4
187819,Hilton Garden Inn New York Manhattan-Chelsea,4 days,8/19/2015 0:00,8/15/2015 0:00,2,4
187820,Hilton Garden Inn New York Manhattan-Chelsea,15 days,8/30/2015 0:00,8/15/2015 0:00,6,4
187821,Hilton Garden Inn New York Manhattan-Chelsea,19 days,9/3/2015 0:00,8/15/2015 0:00,3,4
187823,Hampton Inn Manhattan United Nations,20 days,9/4/2015 0:00,8/15/2015 0:00,4,4
187826,Fairfield Inn & Suites New York Queens Queensb...,33 days,9/17/2015 0:00,8/15/2015 0:00,3,4
187827,Hampton Inn Madison Square Garden Area Hotel,25 days,9/9/2015 0:00,8/15/2015 0:00,2,4
187828,Holiday Inn Express New York City Times Square,2 days,8/17/2015 0:00,8/15/2015 0:00,0,4
187832,The Gregory,32 days,9/16/2015 0:00,8/15/2015 0:00,2,4
187833,The Gregory,33 days,9/17/2015 0:00,8/15/2015 0:00,3,4
187835,DoubleTree by Hilton New York City - Financial...,5 days,8/20/2015 0:00,8/15/2015 0:00,3,4
187836,DoubleTree by Hilton New York City - Financial...,12 days,8/27/2015 0:00,8/15/2015 0:00,3,4
187837,NOMO SOHO,23 days,9/7/2015 0:00,8/15/2015 0:00,0,4
187841,Cassa Hotel 45th Street,12 days,8/27/2015 0:00,8/15/2015 0:00,3,4
187844,The Jade Hotel,20 days,9/4/2015 0:00,8/15/2015 0:00,4,4
187845,Hyatt Union Square New York,5 days,8/20/2015 0:00,8/15/2015 0:00,3,4
187846,Hyatt Union Square New York,18 days,9/2/2015 0:00,8/15/2015 0:00,2,4

ValueError: too many values to unpack (expected 2)

In [337]:
# 2.b
pred_df = for_learn_df
pred_df.head()
hotels_count = len(pred_df["Hotel Name"].unique())
day_diff_count = len(pred_df["DayDiff"].unique())
checkin_date_count = len(pred_df["Checkin Date"].unique())
snapshot_date_count = len(pred_df["Snapshot Date"].unique())
week_day_count = len(pred_df["WeekDay"].unique())

hotels_count, day_diff_count, checkin_date_count, checkin_date_count, snapshot_date_count, week_day_count

(554, 34, 202, 202, 151, 7)

In [338]:
pred_df.head()

,Hotel Name,DayDiff,Checkin Date,Snapshot Date,WeekDay,Discount Code
0,Best Western Plus Seaport Inn Downtown,26 days,8/12/2015 0:00,7/17/2015 0:00,2,1
1,Best Western Plus Seaport Inn Downtown,33 days,8/19/2015 0:00,7/17/2015 0:00,2,1
3,Eventi Hotel a Kimpton Hotel,9 days,7/26/2015 0:00,7/17/2015 0:00,6,1
5,Grand Hyatt New York,21 days,8/7/2015 0:00,7/17/2015 0:00,4,1
6,Grand Hyatt New York,23 days,8/9/2015 0:00,7/17/2015 0:00,6,1

In [339]:
pred_df_float_datetime = pred_df.copy() # copy data frame to another var so original won't change

# pre process - convert columns to categorial numebr instead of strings so fit will work.
pred_df_float_datetime["Checkin Date"] = pd.Categorical(pd.factorize(pred_df_float_datetime["Checkin Date"])[0]) 
pred_df_float_datetime["Snapshot Date"] = pd.Categorical(pd.factorize(pred_df_float_datetime["Snapshot Date"])[0])
pred_df_float_datetime["Hotel Name"] = pd.Categorical(pd.factorize(pred_df_float_datetime["Hotel Name"])[0])

pred_df_float_datetime["DayDiff"] = [t.total_seconds() for t in pred_df_float_datetime["DayDiff"]] # convert timedelta to float

# remove target column "Discount Code" from data frame used for learning.
pred_df_float_datetime.drop(labels=["Discount Code"],axis=1, inplace=True)
pred_df_float_datetime.head(5)

  Hotel Name    DayDiff Checkin Date Snapshot Date  WeekDay
0          0  2246400.0            0             0        2
1          0  2851200.0            1             0        2
3          1   777600.0            2             0        6
5          2  1814400.0            3             0        4
6          2  1987200.0            4             0        6

In [349]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(pred_df_float_datetime, pred_df['Discount Code']).predict(pred_df_float_datetime)
y_pred
print("Number of mislabeled points out of a total %d points : %d    -> error : %f%%" 
      % (pred_df_float_datetime.shape[0],(pred_df['Discount Code'] != y_pred).sum(),
        (pred_df['Discount Code'] != y_pred).sum()/pred_df_float_datetime.shape[0]*100))

(32190, 107299)

In [346]:
y_pred.min(), y_pred.max(), y_pred.mean(),  y_pred.var()

(1, 2, 1.9997856457189722, 0.0002143083332699873)

In [181]:
from sklearn import datasets
iris = datasets.load_iris()
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(iris.data, iris.target).predict(iris.data)
iris.data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [342]:
from sklearn import tree

labels = pred_df['Discount Code'].unique()
labels
clf = tree.DecisionTreeClassifier()
tree_pred = clf.fit(pred_df_float_datetime, pred_df['Discount Code']).predict(pred_df_float_datetime)
tree_pred
print("Number of mislabeled points out of a total %d points : %d    -> error : %f%%" 
      % (pred_df_float_datetime.shape[0],(pred_df['Discount Code'] != tree_pred).sum()
         , (pred_df['Discount Code'] != tree_pred).sum()/pred_df_float_datetime.shape[0]*100))

Number of mislabeled points out of a total 107299 points : 0    -> error : 0.000000%