In [50]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
df = pd.read_csv("hotels_data.csv")

from datetime import datetime
from dateutil.parser import parse

def get_datetime(date_str):
    return datetime.strptime(date_str, '%m/%d/%Y %H:%M')

df["DayDiff"] = DataFrame([get_datetime(val) for val in df["Checkin Date"]]) - DataFrame([get_datetime(val) for val in df["Snapshot Date"]])
df["WeekDay"] = DataFrame([get_datetime(val).weekday() for val in df["Checkin Date"]])
df["DiscountDiff"] = df["Original Price"] - df["Discount Price"]
df["DiscountPerc"] = (df["DiscountDiff"]/df["Original Price"]) * 100

## Top 150 common hotels

In [54]:
df["Hotel_Count"] = df.groupby('Hotel Name')['Hotel Name'].transform('count')
df=df.sort_values(by=['Hotel_Count'],ascending=False)
df.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc,Hotel_Count
31635,213,9/7/2015 0:00,9/16/2015 0:00,5,1221,1009,2,-1,Newark Liberty International Airport Marriott,4,9 days,2,212,17.362817,5346
156866,554,12/15/2015 0:00,12/16/2015 0:00,5,1385,925,1,4,Newark Liberty International Airport Marriott,4,1 days,2,460,33.212996,5346
47452,3,7/18/2015 0:00,8/17/2015 0:00,5,1177,1052,4,-1,Newark Liberty International Airport Marriott,4,30 days,0,125,10.620221,5346
47453,3,7/18/2015 0:00,8/18/2015 0:00,5,1194,861,2,-1,Newark Liberty International Airport Marriott,4,31 days,1,333,27.889447,5346
47454,3,7/18/2015 0:00,8/18/2015 0:00,5,1194,944,3,-1,Newark Liberty International Airport Marriott,4,31 days,1,250,20.938023,5346

In [66]:
DataFrame.duplicated(subset=df, keep='False')

NameError: name 'this' is not defined

## Top 40 checkins contain most lists